<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYQRScanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>523BF5E61E03845300C1A5DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523BF5FF1E03845300C1A5DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>523BF60A1E03845300C1A5DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
